
header {
    position: fixed;
    background: #edd537;
    height: 40px;
    width: 1600px;

}

.button {
    padding-right: 300px;
}
main {
    background: #1f0a07;
    height: 2000px;
}
body {
    margin: 0px;
}

footer {
    background: #edd537;
    height: 50px;
}
.input-style {
    position: relative;
    padding-top: 100px;
    top: 200px;
    margin-left: 600px;
    margin-bottom: 5px;
    background: #edd537;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50px;
    width: 200px;
    border: black;
}
#button-enter {
    padding-right: 30px;
    background:#000;
    color: #edd537;
    padding-bottom: 0px;
    border:#000 ;
    padding-left: 30px;
    padding-bottom: revert;
    border-radius: 10px 10px 10px 10px;
    flex-direction: column;

}

#button-reg {
    padding-right: 30px;
    background:#000;
    color: #edd537;
    padding-bottom: 0px;
    border:#000 ;
    padding-left: 30px;
    padding-bottom: revert;
    border-radius: 10px 10px 10px 10px;
    flex-direction: column;
}
.button-style {
    position: relative;
    margin-left: 600px;
    padding-right: 100px;
    padding-left: 100px;
    color: black;
    top: 230px;
    border:#000 ;
    width: 100px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    background: #edd537;
}

#gallery {
    padding-top: 200px;
    padding-left: 330px;
}

.plasing {
    padding-left: 1120px;
    padding-top: 6px;
    margin-top: 0px;
}

