
header {
    position: fixed;
    background: #edd537;
    height: 40px;
    width: 1600px;

}

.imgis_parametres {
    width: 200px;
    height: 280px;
}

.button {
    padding-right: 300px;
}
main {
    padding-top: 50px;
    background: #1f0a07;
    height: 2000px;

}

.imegis_link {
    color: #edd537;
    background: #1f0a07;
    text-decoration: none;
}

body {
    margin: 0px;
}

footer {
    background: #edd537;
    height: 50px;
}
.input-style {
    padding-left: 10px;
    display: flex;
    position: relative;
    margin-top: 5px;
    background: #edd537;
    height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
    color: black;
    border: black;
    border-radius: 5px 5px 5px 5px;
}

.input-style:focus {
    background: white;
}
.garisontalContainer {
    display: flex;
    justify-content: center;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}
#button-enter {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    background:#000;
    color: #edd537;
    border:#000 ;
    border-radius: 10px 10px 10px 10px;
    flex-direction: column;

}

.button_Slider {

}

#button-reg {
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    background:#000;
    color: #edd537;
    border:#000 ;
    /*padding-bottom: revert;*/
    border-radius: 10px 10px 10px 10px;
    /*flex-direction: column;*/
}
.button-style {
    display: flex;
    text-decoration: none;
    margin-top: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: black;
    border:#000 ;
    width: 210px;
    border-radius: 10px 10px 10px 10px;
    background: #edd537;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;

}
.buttonEnter-style {
    display: flex;
    text-decoration: none;
    margin-top: 30px;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 210px;
    border:#000 ;
    border-radius: 10px 10px 10px 10px;
    background: #edd537;
    color: black;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

#gallery {

    width: 60%;
}
.main_container {
    border: 20px solid black;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

.plasing {
    padding-left: 1120px;
    padding-top: 6px;
    margin-top: 0px;
}



