
header {
    position: fixed;
    background: #edd537;
    height: 40px;
    width: 1600px;

}

.imgis_parametres {
    width: 200px;
    height: 280px;
}

.button {
    padding-right: 300px;
}
main {
    padding-top: 50px;
    background: #1f0a07;
    height: 2000px;

}

.imegis_link {
    display: flex;
    justify-content: center;
    color: #edd537;
    background: #1f0a07;
    text-decoration: none;
}

body {
    margin: 0px;
}

footer {
    background: #edd537;
    height: 50px;
}
.input-style {

    padding-left: 10px;
    display: flex;
    position: relative;
    margin-top: 5px;
    background: #edd537;
    height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
    color: black;
    border: black;
    border-radius: 5px 5px 5px 5px;
}

#input1 {
    animation-duration: 1s;
    animation-name: col;
}
#input2 {
    animation-duration: 1.20s;
    animation-name: col;
}
#input3 {
    animation-duration: 1.40s;
    animation-name: col;
}
#input4 {
    animation-duration: 1.60s;
    animation-name: col;
}
#input5 {
    animation-duration: 1.80s;
    animation-name: col;
}
#input6 {
    animation-duration: 2s;
    animation-name: col;
}

@keyframes col {
    0% {
        right: 500px;
        background-color: #1f0a07;
    }
    100% {
        right: 0px;
        background-color: #edd537;
    }
}

.input-style:focus {
    background: white;
}
.garisontalContainer {
    margin-top: 130px;
    display: flex;
    justify-content: center;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#button-enter {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    background:#000;
    color: #edd537;
    border:#000 ;
    border-radius: 10px 10px 10px 10px;
    flex-direction: column;

}

.button_Slider {

    background:#edd537;
    color: #1f0a07;
    border-color: #000;
    border-radius: 30px 30px 30px 30px;

    animation-duration: 2s;
    animation-name: buttons_anim;

}

@keyframes buttons_anim {
    0% {
       margin-top: 500px;
        background-color: #1f0a07;
        border-radius: 0px 0px 0px 0px;
    }
    100% {
        margin-top: 0;
        background-color: #edd537;
    }

}

#button-reg {
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    background:#000;
    color: #edd537;
    border:#000 ;
    border-radius: 10px 10px 10px 10px;
}
.button-style {
    display: flex;
    text-decoration: none;
    margin-top: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: black;
    border:#000 ;
    width: 210px;
    border-radius: 10px 10px 10px 10px;
    background: #edd537;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;


}

@keyframes button_enter {
    0% {
        right: 500px
    }
    100% {
        right: 0px;
    }
}
.buttonEnter-style {
    display: flex;
    text-decoration: none;
    margin-top: 30px;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 210px;
    border:#000 ;
    border-radius: 10px 10px 10px 10px;
    background: #edd537;
    color: black;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;

}

#gallery {

    width: 60%;
}
.main_container {
    border: 30px solid #1f0a07;
    display: flex;
    padding-left: 7px;
    padding-right: 7px;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
}

.plasing {
    padding-left: 1120px;
    padding-top: 6px;
    margin-top: 0px;
}



